# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django/Migrations
*/migrations/
db.sqlite3

# Environments
.env
.env.*
venv/
ENV/
*.egg-info/
.eggs/

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Editor and IDE files
*.swp
.venv/
*.code-workspace
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Test/coverage files
.coverage
htmlcov/
site/
.tox/
*.log

# Node (if you use npm for frontend)
node_modules/
npm-debug.log
yarn-error.log

# Pip cache
pip-wheel-metadata/
pip-log.txt
__pypackages__/
